.main_container {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding: 20px;
  }

  .block {
    display: block;
    min-height: 380px;
    border: 1px solid #ccc;
    padding: 20px 20px 20px 50px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .block a {
    text-decoration: none;
    color: #000;
  }
  .news-item-main {
    display: inline-block;
    width: 200px;
    height: 250px;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
  }
  .news-item-main a {
    color: #000;
    text-decoration: none;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
}
.header {
    background-color: #fff;
    color: #000;
    text-align: left;
    padding: 10px 0;
}
.header img {
    float: left;
}

.nav ul{
    padding-top: 10px;
    padding-left: 350px;
}
.nav li{
    display: inline-block;
    margin-right: 20px;
    list-style: none;
    font-weight: bold;
}
.nav a{
    text-decoration: none;
    color:#000;
}

.green_line {
    width: 100%;
    height: 50px;
    background-color: #32a801;
}
.green_line a {
    display: block;
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding: 15px;
    text-decoration: none;
}
.breadcrumb {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
.breadcrumb li {
    display: inline-block;
    list-style: none;
}
.breadcrumb a {
    text-decoration: none;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    flex: 1; 
}
.news-item {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    width: 350px;
    height: 300px;
    display: inline-block;
    box-sizing: border-box;
}
.news-item a {
    color: #000;
    text-decoration: none;
}
.article {
    border: 1px solid #fff;
    padding: 10px;
    margin-bottom: 20px;
}
.publication_date p {
    color: #787878;
}
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
h1, h2 {
    margin-top: 0;
}
.article h1 {
    font-size: xx-large;
}

p {
    line-height: 1.6;
}

@media (min-width: 992px) {
    .news-item {
      float: left;
    }
}
@media (min-width: 992px) {
    .news-item-main {
      float: left;
    }
}
.list_of_main_news .img-main {
    width: 200px;
}
.list_of_articles .img-news {
    width: 300px;
}

.article_image .img-article {
    padding-top: 30px;
}

.pagination {
    margin: 20px 0;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: medium;
    border-radius: 0;
    text-align: center;
  }
.pagination li {
    display: inline-block;
}
  .pagination > li > a {
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #000;
    background-color: #ffffff;
    border: 1px solid #dddddd;
  }
  .pagination > li > a:hover,
  .pagination > li > a:focus {
    color: #000;
    background-color: #32a801;
    border: 1px solid #dddddd;
  }
  .pagination > .active > a,
  .pagination > .active > a:hover,
  .pagination > .active > a:focus {
    z-index: 2;
    color: #000;
    background-color: #32a801;
    border: 1px solid #dddddd;
  }
