{% extends 'base.html' %}
{% block header %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
<body>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">Главная ></a>
        </li>
        <li>Новости</li>
    </ul>

    <div class="container">
        <article class="article">
            <h1>{{ full_article[0] }}</h1>
            <div class="publication_date">
                <p>Дата публикации: {{ full_article[2] }}</p>
            </div>
            <div class="article_image">
                <img src="{{ url_for('static', filename='img/article_images/' + full_article[3]) }}" alt="" class="img-article">
            </div>
            <p>{{ full_article[1]|safe }}</p>
            
        </article>
    </div>
</body>

{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
