{% extends 'base.html' %}
{% block header %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}

<body>
    <div class="container">
        <h1>Новости</h1>
        {% for new in items_on_page %}
        <div class="news-item">
            <div class="list_of_articles">
                <a href="{{ url_for('news', news_id=new[0]) }}">
                    <img src="{{ url_for('static', filename='img/images_news/' + new[2]) }}" alt="" class="img-news">
                </a>
            </div>
            <a href="{{ url_for('news', news_id=new[0]) }}"><h3>{{ new[1] }}</h3></a>
        </div>
        {% endfor %}

        
        <!-- Добавьте новости здесь -->
    </div>

    <div class="pages">
        <ul class="pagination">

            {% if page > 1 %}
            <li><a href="{{ url_for('index', page=page-1) }}">Пред</a></li>
            {% endif %}

            {% for i in range(1, total_pages+1) %}
            <li class="{% if page == i %} active {% endif %}"><a href="{{ url_for('index', page=i) }}">{{ i }}</a></li>
            {% endfor %}
            
            {% if page < total_pages %}
            <li><a href="{{ url_for('index', page=page+1) }}">След</a></li>
            {% endif %}

        </ul>
    </div>
</body>

{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}

