{% extends 'base.html' %}
{% block header %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
<body>
<div class="main_container">
  <div class="block">
    <h2><a href="{{ url_for('news')}}">Новости</a></h2>
    {% for new in news_main %}
    <div class="news-item-main">
      <div class="list_of_main_news">
          <a href="{{ url_for('new', new_id=new[0]) }}">
              <img src="{{ url_for('static', filename='img/images_news/' + new[2]) }}" alt="" class="img-main">
          </a>
      </div>
      <a href="{{ url_for('new', new_id=new[0]) }}"><h3>{{ new[1] }}</h3></a>
    </div>
    {% endfor %}
  </div>


  <div class="block">
    <h2><a href="{{ url_for('articles')}}">Статьи</a></h2>
    {% for article in articles_main %}
    <div class="news-item-main">
      <div class="list_of_main_news">
          <a href="{{ url_for('article', article_id=article[0]) }}">
              <img src="{{ url_for('static', filename='img/images_articles/' + article[2]) }}" alt="" class="img-main">
          </a>
      </div>
      <a href="{{ url_for('article', article_id=article[0]) }}"><h3>{{ article[1] }}</h3></a>
    </div>
    {% endfor %}
  </div>


  <div class="block">
    <h2><a href="{{ url_for('kazakhstan_future_news')}}">Что будет с Казахстаном?</a></h2>
    {% for news in kazakhstan_future_news_for_main %}
    <div class="news-item-main">
      <div class="list_of_main_news">
          <a href="{{ url_for('kazakhstan_future_new', kazakhstan_news_id=news[0]) }}">
              <img src="{{ url_for('static', filename='img/images_kazakhstan_future/' + news[2]) }}" alt="" class="img-main">
          </a>
      </div>
      <a href="{{ url_for('kazakhstan_future_new', kazakhstan_news_id=news[0]) }}"><h3>{{ news[1] }}</h3></a>
    </div>
    {% endfor %}
  </div>
</div>
</body>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
