{% extends 'base.html' %}
{% block header %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}

<body>
    <div class="container">
        <h1>Новости</h1>
        <div class="news-item">
            <h2>Заголовок новости 1</h2>
            <p>Текст новости 1...</p>
        </div>
        <div class="news-item">
            <h2>Заголовок новости 2</h2>
            <p>Текст новости 2...</p>
        </div>
        <div class="news-item">
            <h2>Заголовок новости 3</h2>
            <p>Текст новости 3...</p>
        </div>
        <div class="news-item">
            <h2>Заголовок новости 1</h2>
            <p>Текст новости 1...</p>
        </div>
        <div class="news-item">
            <h2>Заголовок новости 2</h2>
            <p>Текст новости 2...</p>
        </div>
        <div class="news-item">
            <h2>Заголовок новости 3</h2>
            <p>Текст новости 3...</p>
        </div>
        <!-- Добавьте новости здесь -->
    </div>
</body>

{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}

