{% extends 'base.html' %}
{% block header %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}

<body>
    <div class="container">
        <h1>Что будет с Казахстаном?</h1>
        {% for news in kazakhstan_news %}
        <div class="news-item">
            <div class="list_of_articles">
                <a href="{{ url_for('kazakhstan_future_new', kazakhstan_news_id=news[0]) }}">
                    <img src="{{ url_for('static', filename='img/images_kazakhstan_future/' + news[2]) }}" alt="" class="img-news">
                </a>
            </div>
            <a href="{{ url_for('kazakhstan_future_new', kazakhstan_news_id=news[0]) }}"><h3>{{ news[1] }}</h3></a>
        </div>
        {% endfor %}

        
        <!-- Добавьте новости здесь -->
    </div>
</body>

{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}