{% extends 'base.html' %}
{% block header %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
<body>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">Главная ></a>
        </li>
        <li>Что будет с Казахстаном?</li>
    </ul>

    <div class="container">
        <article class="article">
            <h1>{{ kazakhstan_new[0] }}</h1>
            <div class="publication_date">
                <p>Дата публикации: {{ kazakhstan_new[2] }}</p>
            </div>
            <div class="article_image">
                <img src="{{ url_for('static', filename='img/images_kazakhstan_future/' + kazakhstan_new[3]) }}" alt="" class="img-article">
            </div>
            <p>{{ kazakhstan_new[1]|safe }}</p>
            
        </article>
    </div>
</body>

{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
