{% extends 'base.html' %}
{% block header %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}

<body>
    <div class="container">
        <h1>Новости</h1>

        <form method="GET" action="{{ url_for('news') }}">
            <select name="sort_by" id="sort_by">
                <option value="date_asc" {% if sort_by == 'date_asc' %}selected{% endif %}>Сначала свежие</option>
                <option value="date_desc" {% if sort_by == 'date_desc' %}selected{% endif %}>Сначала устаревшие</option>
            </select>
            <input class="btn" type="submit" value="Применить">
        </form>

        {% for new in items_on_page %}
        <div class="news-item">
            <div class="list_of_articles">
                <a href="{{ url_for('new', new_id=new[0]) }}">
                    <img src="{{ url_for('static', filename='img/images_news/' + new[2]) }}" alt="" class="img-news">
                </a>
            </div>
            <a href="{{ url_for('new', new_id=new[0]) }}"><h3>{{ new[1] }}</h3></a>
        </div>
        {% endfor %}

        
        <!-- Добавьте новости здесь -->
    </div>

    <div class="pages">
        <ul class="pagination">

            {% if page > 1 %}
            <li><a href="{{ url_for('news', page=page-1) }}">Пред</a></li>
            {% endif %}

            {% for i in range(1, total_pages+1) %}
            <li class="{% if page == i %} active {% endif %}"><a href="{{ url_for('news', page=i) }}">{{ i }}</a></li>
            {% endfor %}
            
            {% if page < total_pages %}
            <li><a href="{{ url_for('news', page=page+1) }}">След</a></li>
            {% endif %}

        </ul>
    </div>
</body>

{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}

